.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  font-size: calc(75px + 2vmin);
  font-weight: bold;
  color: white;
  position: fixed;
  top: 40%;
  left: 5%;
}

.App-login {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: calc(20px + 2vmin);
  position: fixed;
  top: 40%;
  right: 5%;
}

.App-link {
  color: #09d3ac;
}
